
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav bg-dark">
<a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Users</a>
<!-- <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/users">Users</a>
<a routerLinkActive="active" routerLink="/users/ID">User Details</a> -->
<a routerLinkActive="active" routerLink="/profile">Profile</a>
<a routerLinkActive="active" routerLink="/asdefqef">Error</a>
        </div>
      </div>
    </div>
  </nav>

